@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&family=Dosis:wght@200&family=Smooch&display=swap');
body
{
    background-color: rgb(0, 0, 0);
}

*
{
    margin: 0;
    padding: 0;
}
nav
{
    font-family: 'Baloo Bhai 2', cursive;
}
nav ul
{
    display: flex;
    list-style-type: none;
    width: 100%;
    height: 89px;
    align-items: center;
    color: #fff;
    background: linear-gradient(to right, #000000 0%, #1ed760 100%);
}
nav ul li
{
    padding: 0 12px;
}
.brand img
{
    width: 44px;
}
.brand
{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}
.container
{
    background-color: black;
    color: #fff;
    font-family: 'Dosis', sans-serif;
    min-height: 72vh;
    display: flex;
    margin: 13px auto;
    width: 70vw;
    border-radius: 12px;
    padding: 74px;
    background-image: url('bg.jpg');
}
.bottom
{
    position: sticky;
    height: 100px;
    bottom: 0;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background: linear-gradient(to top, #000000 45%, #1ed760 100%);
    flex-direction: column; 
}
.icons
{
    font-size: 0.8rem;
    margin-top: 17px;
    cursor: pointer;
    letter-spacing: 1rem;
}
#myprogressbar
{
    width: 80vw;
    cursor: pointer;

}
.songItemContainer
{
    margin-top: 64px;
}
.songItem
{
    height: 50px;
    display: flex;
    background-color: #fff;
    color: black;
    margin: 12px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 34px;


} 
.songItem img
{
    width: 43px;
    margin: 0 23px;
}
.timestamp
{
    margin: 0 23px;
}
.timestamp i
{
    cursor: pointer;
}
.songinfo
{
    position: absolute;
    left: 10vw;
    font-family: 'Smooch', cursive;

} 
.songinfo img
{
    opacity: 0;
    transition: opacity 0.4s ease-in;
} 
#gif
{
    width: 5rem;
}

@media screen and (max-width:500px){

    .bottom
    {
        height: 12rem;
        display: flex;
        flex-direction: column;
    }
    .icons
    {
        margin-top: 3rem;
    }
    .songinfo
    {
        margin-top: -30px;
        font-size: 1.5rem;
    }
    .songname
    {
        font-size: 0.8rem;
    }
    .container
    {
        width: 69%;
    }
    .timestamp
    {
        font-size: 0.9rem;
    }
}